.emoji-frog{
    display: inline-block;
    background: url("https://cdn.discordapp.com/emojis/1272311813605687318.png?v=1") no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 3px 3px -4px;
}