/* Computers */
@media screen and (min-width: 400px){
    .bio, .social-media {
        position: relative;
        animation: slide 2s both ease 1;
    }
    .text-nowrap {
        white-space: nowrap;
    }
}

/* Mobile devices */
@media screen and (max-width: 400px){
    .link {
        align-self: baseline;
    }

    .flex-separator {
        /* Yes, just hide it */
        display: none;
    }
}