@import url("emoji.css");
@import url("media.css");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

@keyframes appear{
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes shadow{
    from { box-shadow: 3px 3px 27px var(--secondary-color) }
    to { box-shadow: 1px 1px 1px var(--secondary-color) }
}

* {
    /* Just set this cursor because... uwu */
    cursor: url("/assets/img/cursor.png"), auto;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url("/assets/background.gif") fixed no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    box-sizing: border-box;
    margin: 0px;

    --primary-color: rgb(8, 92, 13);
    --header-color: aqua;
    --secondary-color: rgba(94, 5, 196, 0.795);
}

#header{
    animation: appear 1 none ease 2s;
    display: flex;
    flex-direction: row;
    margin: 6px;
    column-gap: 10px;
    color: var(--header-color);

    & img{
        padding-top: 4px;
        border-radius: 32px;
    }
}

#content{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#bio {
    margin: 30px;
    font-family: 'Roboto Mono', sans-serif;
    flex: 0 1 50%;
    padding: 15px;
    color: var(--primary-color);
    background-color: black;
    animation: shadow 5s infinite alternate;

    & p {
      padding-top: 16px;
      margin: 0px;
      text-align: left;
      white-space: pre-line;
    }
}

#links{
    text-align: center;
    display: flex;
    margin: 5px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;

    & h3 {
        color: var(--header-color);
    }
}

#things{
    padding-left: 6px;

    & h2 {
        margin: 30px 1px;
        color: var(--header-color);
    }
    & p {
        margin-top: 5px;
    }
}

* h4,h3,h2,h1,span {
    margin: 0px;
}

ul {
   list-style-type: none;
   padding-left: 0px;

   & li {
    display: inline-block;
   }
}

.social-media{
    text-align: center;
}

.link {
    color: var(--secondary-color);
    padding: 10px;
    display: inline-block;
    background-color: black;
    animation: shadow 5s infinite alternate;
    border-radius: 4px;
    text-decoration: none;
    transition: transform 0.1s, background-color 0.2s;
    margin-right: 0.5vw;

    &:active {
        background-color: var(--secondary-color);
    }
    
    &:hover {
        transform: scale(1.1);
    }
}

.background-photo {
    width: 50%;
    border-radius: 8px;
    border: 1px solid rgba(36, 3, 73, 0.795);
}

#years{
    margin: 0px;
}