@import url("emoji.css");
@import url("media.css");

body{
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0px;
}

/* Yes, just a silly separator */
.flex-separator{
    padding-left: 50vw;
}

.header{
    animation: appear 1 none ease 2s;
    display: flex;
    flex-direction: row;
    margin: 13px;
    column-gap: 10px;
    color: aqua;

    img{
        border-radius: 32px;
    }

    .link {
      text-align: center;
      color: green;
    }

}

#main{
    display: flex;
    flex-flow: column wrap;
    flex-basis: fit-content;
    align-content: center;

    .things {
        text-align: center;
    }

    .bio {
        margin: 30px;
    }
}

.bio{
    font-family: 'Roboto Mono', sans-serif;
    flex: 0 1 50%;
    color: rgb(8, 92, 13);
}

.bio p {
    padding: 16px;
    margin: 0px;
    text-align: left;
    white-space: pre-line;
    box-shadow: 3px 3px 27px rgba(36, 3, 73, 0.795);
}

* h3,h2,h1,span {
    margin: 2px;
}

ul {
   list-style-type: none;
   padding-left: 0px;
}

ul li {
   display: inline-block;
}

.social-media{
    text-align: center;
}

.things {
    margin-bottom: 10px;
}

.link {
    color: hsl(256, 71%, 51%);
    padding: 20px;
    border-radius: 7px;
    text-decoration: none;
    transition: opacity 0.2s, background-color 0.2s;
}

.link:hover{
    background-color: rgba(36, 3, 73, 0.795);
}

.link:active{
    opacity: 0.5;
}

.footer{
    color: aqua;
    position: fixed;
    bottom: 1vh;
}